<p>menu works!</p>
<div class="container-md text-center">
  <div class="row m-2">
    <div class="col bg-warning">
      <img style="height: 100px" src="../assets/images/logoBQ-horizontal.png">
    </div>
    <div class="col bg-danger">

    </div>
    <div class="col bg-danger">
      <img style="height: 100px" src="../assets/images/m-hamburg.png">
    </div>
  </div>
  <div class="row m-2">
    <div class="col bg-primary">
      bloque de menú

      <div class="col m-2">
        <div class="col bg-warning mx-auto d-block">
          <label for="name">Cliente:</label>
          <input type="text" name="name" required/>
        </div>
        <div class="col bg-danger">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn" for="btnradio1" style="background-color: #EA8D6F; color: white;">Todo</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn" style="background-color: #EA8D6F" for="btnradio2">Desayuno</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn" style="background-color: #EA8D6F" for="btnradio3">Comidas</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <label class="btn btn" style="background-color: #EA8D6F" for="btnradio4">Bebidas</label>
          </div>
        </div>
        <div class="col bg-warning">
          <div class="row">
            <div class="col m-1" >
              <img style="height: 50px; background-color: #FDE293; border-radius: 10px;" src="../assets/images/ham-chesse.png">
            </div>
            <div class="col m-1">
              <div class="row">Jamón y queso</div>
              <div class="row">$10.00</div>
            </div>
            <div class="col m-1">
              <input class="btn btn" type="button" style="background-color: #EA8D6F; border-radius: 20px;" value="+">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col bg-secondary">
      bloque de resumen de orden
      <div class="col m-2">
        <div class="col bg-warning" style="border-radius: 20px;">
          order list
        </div>
        <div class="col bg-danger">
          <div class="col bg-danger">
            <div class="row">
              <div class="col">
                Café
              </div>
              <div class="col">
                $5.00
              </div>
              <div class="col">
                <div class="row">
                  <div class="col">
                    <input class="btn btn" type="button" style="background-color: #EA8D6F; border-radius: 20px;" value="+">
                  </div>
                  <div class="col">1</div>
                  <div class="col">
                  <input class="btn btn" type="button" style="background-color: #EA8D6F; border-radius: 20px;" value="-">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col bg-warning">
          <div class="row">
            <div class="col">
              Total: $5.00
            </div>
            <div class="col">
              <input class="btn btn" type="button" style="background-color: #EA8D6F; border-radius: 20px;" value="Hacer pedido">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
