/* estilos.css */
//====================  Fuentes ====================//

/*@font-face {
  font-family: montserratM;
  src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
  font-family: montserratL;
  src: url(../fonts/Montserrat-Light.otf);
}

@font-face {
  font-family: caviarD;
  src: url(../fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: caviar;
  src: url(../fonts/CaviarDreams.ttf);
}*/


//====================  Estilos de imagenes logo y menú hamburguesa ====================//
.logo-img {
  height: 100px;
}
.img-menuHamburguesa-container {
  flex-basis: 10%; /* Ajusta el ancho del div */
  max-width: 10%; /* Ajusta el ancho máximo del div  */
}
.img-menuHamburguesa {
  height: 100px;
  transition: transform 0.3s ease-in-out; /* Transición  para el efecto de hundimiento */
}

.img-menuHamburguesa:hover {
  transform: scale(0.9); /* Escala la imagen al 90% del tamaño original */
}

.img-menuHamburguesa:active {
  transform: scale(0.8); /* Escala la imagen al 80% del tamaño original al hacer clic */
}


.menuDesplegable {
  position: absolute;
  top: 90px;
  right: 20px;
  background-color: white;
  /* Estilos para el efecto 3D */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transform: perspective(800px) rotateX(-10deg);
  transform-origin: top right;
}

.menuDesplegable ul {
  list-style-type: none;
}
.menuDesplegable ul li:hover {
  background-color: #FDE293;
  opacity: 10;
  border-radius: 10px;
  font-family: caviarD;

}
//====================  Estilos de los dos contenedores ====================//

.row-estilo2 {
  height: 550px;
}
.texto {
  font-family: caviarD;
}
.navbar-expand-lg {
  background-color: #EA8D6F;
  border-radius: 20px;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-expand-lg li {
  width: 100px;
  font-family: caviarD;
}
.filter-btn{
  background-color: #EA8D6F;
  border: transparent;
}

.navbar-expand-lg .navbar-nav > .nav-item > .filter-btn:hover {
  background-color: #FDE293;
  opacity: 10;
  border-radius: 10px;
}
.card {
  height: 100%;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra a la tarjeta */
  transition: box-shadow 0.3s ease-in-out; /* Agrega una transición suave a la sombra */
  flex: 1 1 300px;
}
.card:hover {
  transform: rotateY(10deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Cambia la sombra al hacer hover */
}

.card-columns {
  display: flex;
  flex-wrap: wrap;
}

.card ul {
  list-style: none; /* Elimina las viñetas o puntos */
  padding: 0; /* Elimina el espacio de relleno */
  margin: 0; /* Elimina los márgenes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra a la tarjeta */
  transition: box-shadow 0.3s ease-in-out; /* Agrega una transición suave a la sombra */
}
.card ul:hover {
  transform: rotateY(10deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Cambia la sombra al hacer hover */
}
.card-img {
  background-color: #FDE293;
  border-radius: 10px;
  height: 130px ;
  width: 150px;
}

.card-title {
  margin-left: 30px;
  margin-left: 30px;
  font-family: montserratM;
  background-color: blueviolet;
}
.card-price {
  font-family: montserratL;
  margin-left: 30px;
  margin-left: 30px;
  background-color: aquamarine;
}
.btn {

  background-color: #EA8D6F;
  border-radius: 25px;
}
.container-card {
  max-height: 450px;
  overflow-y: auto; /* Añade scrollbar */
  overflow-x: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  border-radius: 25px;
  background-color: aqua;
}


// Segundo contenedor
.col-segundaC {
  background-color: #fde293;
  opacity: 9;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  height: 530px;
}

.cliente {
  background: #FDE293;
  opacity: 10;
  border-radius: 10px;
  width: 60%;
  margin-top: 30px;
}
.cliente::placeholder {
  text-align: center;
  font-family: montserratL;
}
.col-orden {
  margin-top: 20px;
  margin-left: 15%;
  background-color: #EA8D6F;
  border-radius: 15px;
  height: 25px;
  width: 70%;
  font-family: caviarD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-aparecenLasO {
  height: 350px;
  display: flex;
  align-items: center;
  background-color: #fde293;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Total {
  font-family: caviarD;
}
.Total-input {
  width: 30%;
}

.btn-crearPedido {
  margin: 10px;
  font-family: caviarD;
  background-color: #EA8D6F;
  border-radius: 10px;
  padding: 10px 20px;
  color: #000;
  text-align: center;
  transition: transform 0.3s ease-in-out; /* Transición suave del efecto */
  border: none;
  outline: none;
}

.btn-crearPedido:hover {
  transform: scale(0.95); /* Reducción de escala al hacer hover */
}

.btn-crearPedido:focus {
  outline: none;
}

