<!--======================================   Imagenes logo y menú hamburguesa ======================================  -->
<app-header [componentTitle]='title'></app-header>
<!--======================================   Aquí los dos contenedores ======================================  -->
<div class="row row-estilo2 m-2">
  <div class="col-md-7 col-primerContainer mx-3">
    <!-- Contenido de la primera columna -->
    <div class="col m-2">
      <!-- ====================================== navbar menú ====================================== -->
      <div class="col col-navbar">
        <nav class="navbar navbar-expand-lg ">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <button class="filter-btn py-1 px-4" (click)="showCard('Todo')">All</button>
            </li>
            <li class="nav-item mx-2">
              <button class="filter-btn py-1 px-3" (click)="showCard('Desayuno')">Breakfast</button>
            </li>
            <li class="nav-item mx-2">
              <button class="filter-btn py-1 px-3" (click)="showCard('Almuerzo')">Lunch</button>
            </li>
            <li class="nav-item mx-2">
              <button class="filter-btn py-1 px-3" (click)="showCard('Bebida')">Drinks</button>
            </li>
          </ul>
        </nav>

        <div class="container-card mt-4 ">
          <div class="card-deck mt-2">
            <div class="card" *ngFor="let product of products">
              <div class="card-body d-flex align-items-center ">
                <div class="col-md-4">
                  <img src="{{ product.image }}" alt="{{ product.name }}" class="card-img">
                </div>
                <div class="col-md-6">
                  <div class="title-price">
                    <h1 class="card-title product">{{ product.name }}</h1>
                    <p class="card-price">{{ product.price | currency: '$ '}}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex align-items-center justify-content-center">
                  <button class="btn" (click)="addProductToOrder(product)">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Contenido de la segunda columna -->
  <div class="col-md-4 mx-3 col-segundaC">
    <div class="row row-contenedores">
      <!-- Primer contenedor -->
      <div class=" col-orden ">
        Order List
      </div>

      <form [formGroup]="clientOrder">
        <div class="col mx-auto d-block text-center">
          <label for="name" class="texto" style="margin-right: 10px;">Client: </label>
          <input class="cliente" formControlName="clientName" [value]="order.client" (blur)="addClientName($event)"
            type="text" placeholder="Florence Welch" name="clientName" />
        </div>

        <!-- Segundo contenedor -->
        <div class="col-aparecenLasO">
          <div *ngFor="let product of order.products" class="row row-ordenes">
            <!-- Primera columna -->
            <div class="col-md-6">
              {{product.product.name }}
            </div>
            <!-- Segunda columna -->
            <div class="col-md-3">
              {{ product.product.price | currency: '$ '}}
            </div>
            <!-- Tercera columna -->
            <div class="col-md-3 quantity-increment d-flex align-items-center">
              <i *ngIf="product.qty === 1" class="btn-Productos px-2 left fa-solid fa-trash" (click)="removeProductFromOrder(product)"></i>
              <i *ngIf="product.qty > 1" class="btn-Productos px-2 left fa-solid fa-minus" (click)="decreaseQty(product)"></i>
              <p class="cantidadProductos">{{product.qty}}</p>
              <i class="btn-Productos px-2 right fa-solid fa-plus" (click)="increaseQty(product)"></i>
            </div>
          </div>
        </div>



        <!-- Tercer contenedor -->
        <div class="row-bill">
          <div class="col-md col-total px-2 text-center">
            <p>Total: {{bill | currency: '$ '}}</p>
          </div>
          <div class="col col-md px-2text-left">
            <button type="submit" class="btn-crearPedido" [disabled]="clientOrder.invalid"
              (click)='createOrder()'>Create Order</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
