<div class="container">
  <div class="row gy-3" style="background-color: rgb(251, 157, 75);">
    <div class="col-md-4" *ngFor="let order of ordersArray" style="background-color: yellowgreen;">
      <section class="rounded p-1" style="background-color: #FDE293;">
        <div class=" row rounded mx-1 my-2 px-3" style="background-color: white;">
          Cliente: {{order.client}}
        </div>

        <div class="row rounded m-1 my-2 px-2" style="background-color: white;">
          <div class="col">
            <p>Productos</p>
            <div *ngFor="let orderProducts of order.products">
              {{orderProducts.product.name}}
            </div>
          </div>
          <div class="col">
            <p>Cantidad</p>
            <div *ngFor="let orderProducts of order.products">
              {{orderProducts.qty}}
            </div>
          </div>
        </div>

        <div class="row" class="row rounded m-1 my-2 px-2" style="background-color: white;">
          <div class="col">
            <p>Estado</p>
            {{order.status}}
          </div>
          <div class="col">
            <p>Tiempo</p>
            {{order.dataEntry}}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
