/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: montserratM;
  src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
  font-family: montserratL;
  src: url(../fonts/Montserrat-Light.otf);
}

@font-face {
  font-family: caviarD;
  src: url(../fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: caviar;
  src: url(../fonts/CaviarDreams.ttf);
}
